.controls-container {
  display: flex;
  gap: 10px;
}
button {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}
button:nth-child(4) {
  background-color: #4CAF50;
  color: white;
}
button:nth-child(5) {
  background-color: red;
  color: white;
}
button:hover {
  transform: scale(1.1);
  transition: 2ms;
}
button:nth-child(3) {
  border-radius: 50%;
  padding: 10px 12px;
}