.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: aquamarine;
}
.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}